<!DOCTYPE html>
<html>
<head>
<head>

  <title>ToDo List</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<%= favicon_link_tag 'favicon.ico' %>

	
</head>
<body>
  
        <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "My List", todo_lists_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      </ul>

<header>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">To Do List</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <% if user_signed_in? -%>
            <ul class="nav navbar-nav navbar-right">
            
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Sathira Padukka<i class="material-icons right"></i></a></li>

            </ul>
          <% else -%>
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to 'Sign up', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
            </ul>
          <% end -%>
        </nav>
      </div>
    </div>
  </header>


<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <main>
	<%= yield %>
</div>
</main>
</body>


<script>
	  $(".button-collapse").sideNav();
    $(".dropdown-button").dropdown();
</script>
</head>
</html>
